<h2> Pagina de administare </h2>
<form id="adaugareProdus" action="/adaugare-produs" method="POST">
	<label for="numeProdus">Nume produs</label>&nbsp;
	<input type="text" name="numeProdus" value="numeProdus">
	<br/>
	<br/>
	<button type="submit"><i>Adăugare în baza de date</i></button>
</form>