<% if (utilizator == null) { %>
	<h2 id="index" style="text-align: right;">
		<span>Nu sunteți autentificat</span> &nbsp; &nbsp; &nbsp; &nbsp;
		<a href="autentificare"> Autentificare </a>
	</h2>

<% } else  { %>
	<div id="index">
		<p id="textLogat"> Logat ca <%= utilizator%>. 
			<a href="delogare">Delogare</a>
		</p>
		<% if(rol == "admin") { %>
			<div style="text-align: right;">
				<a id="pagAdmin" href="admin">Pagina admin</a>
			</div>
		<% } %>
		<p id="cosCump">
			<a href="vizualizare-cos">Coșul de cumpărături</a>
		</p>
		<span> <h2>Bine ai venit, <%= utilizator %>!</h2></span>
		<div style="text-align: right;">
			<button onclick="location.href = '/creare-bd';" style="background-color: rgb(18, 121, 238); color: white;">Creare BD</button>
			<button onclick="location.href = '/inserare-bd';" style="background-color: rgb(18, 121, 238); color: white;" >Încarcare BD</button>
		</div>
		  
   </div> 
<% } %> 
<div id="produse" >
	<h1 style="text-align: left;">Produse</h2>
	<% for(let i1=1; i1 < lista_produse.length; i1+=2){ %>
		<span class="produs"><%=lista_produse[i1] %> </span> &nbsp; 
		
		<% if(utilizator==null) { %>
			<button type="button" disabled style="background-color: rgb(245, 141, 181) ; color: grey; height: 2em;"> Adaugă în coș</button>
			<br/>
			<br/>
		<% }else {%>
			<form action="/adaugare-cos" method="POST">
				<input type="hidden" name="id" value="<%=lista_produse[i1-1] %>"> 
				<br/>
				<button type="submit"> Adaugă în coș</button>
			</form>
			<br/>
			<br/>
		<%}%>
		
	<% } %>
</div>


	


