<% if (utilizator == null) { %>
	<h2 id="index">
		<br/>
		<br/>
		<a href="autentificare"> Autentificare </a>
	</h2>

<% } else  { %>
	<div id="index">
		<p id="textLogat"> Logat ca <%= utilizator%>. 
			<a href="delogare">Delogare</a>
		</p>
	   <h2 id="index">Bine ai venit, <%= utilizator %>!</h2>
   </div> 
<% } %> 

	


