<!DOCTYPE html>
<html lang="ro">

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/stil.css" />
		<title> Proiect2 - PW </title>
	</head>

	<body>
		<header>
			<h1> Documentele de care sigur ai nevoie!</h1>
		</header>
		
		<br/>
		<br/>
		<%- body -%>
		
		<br/>
		<hr/>
		<footer>
			<p>
				&copy; 2020.Programare web
			</p>
		</footer>
	</body>

