header, footer {
	background-color: rgb(9, 71, 104);
	background-image: linear-gradient(rgb(9, 71, 104),rgb(31, 170, 245)); 
	color: white;
	text-align: center;
}



body {
	background-color: teal;
	background-image: url(../images/background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color:white;
	margin-left: 20em;
	margin-right: 20em;
	text-align: center;
	
}

form{
	text-align: left;
	margin-left: 5em;
} 

#quiz input{
	margin-left: 10em;
}

form button {
	background-color: teal;
	text-align: center;
	color:white;
	margin-left: 10em;
	width: 200px;
	height: 50px;
}

#rezultate{
	text-align: center;
}

#rezultate h3, #autentificare, #welcome, #cos  {
	padding-bottom: 18em;
}

#index a:visited, #index a:link, #textLogat a:visited, #textLogat a:link{
	text-decoration: none;
	color:inherit;
	border: 2px solid white;
	padding: 3px;
} 

#textLogat, #cosCump{
	text-align: right;
}

span.produs {
	font-size : 2em;
	border:  2px solid teal;
	
}

span.produs:hover{
	background-color: teal;

}
#produse button
{
	background-color: lightcoral;
	text-align: center;
	color:white;
	height: 40px;
}

li {
	font-size: 2em;
}